<?xml version="1.0"?>
<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit bootstrap="Tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">
  <testsuites>
    <testsuite name="Server Tools Test Suite">
      <directory>./Tests/</directory>
    </testsuite>
    <logging>
      <log type="coverage-html" target="./build/coverage" title="JoshuaEstes/ServerTools"
           charset="UTF-8" yui="true" highlight="true"
           lowUpperBound="35" highLowerBound="70"/>
    </logging>
  </testsuites>
</phpunit>

